In [7]:
from pandas import Series, DataFrame
import numpy

In [39]:

d = {'one': Series([1,2,3], index=['a', 'b', 'c']),
    'two' : Series([1,2,3,4], index=['a', 'b', 'c', 'd'])}

e = {'one' : Series(numpy.array([1,2,3], float), index=['a','b','c']),
    'two' : Series(numpy.array([1,2,3,4], float), index=['a', 'b', 'c', 'd'])}

df = DataFrame(d)
de = DataFrame(e)

print(df)
print(de)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [12]:
# 모든 Column에 아래 명령어 실행 (Vector처럼)

df.apply(numpy.mean)

one    2.0
two    2.5
dtype: float64

In [13]:
# Column을 받아서 1보다 큰 것을 찾

df['one'].map(lambda x:x>=1)
# df['one']>=1

a     True
b     True
c     True
d    False
Name: one, dtype: bool

In [16]:
# 전체 DataFrame에서 lambda 함수를 적용

df.applymap(lambda x: x>=1)
# df>=1

     one   two
a   True  True
b   True  True
c   True  True
d  False  True

### Example : Average Medal Count

create a new Series called avg_medal_count that indicates the average number of gold, silver, and bronze medals earned amongs countries who earned at least one medal of any kind at the 2014 Sochi olympics.

In [53]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

olympic_medal_counts = {'country_name':countries,
                        'gold': Series(gold),
                        'silver': Series(silver),
                        'bronze': Series(bronze)}    
df = DataFrame(olympic_medal_counts)

df = df[['country_name', 'gold', 'silver', 'bronze']]

# 1. Choose 3 columns (gold, silver, bronze)
# 2. Among those that are greater or equal to 1
# 3. Then, apply numpy.mean function
df[['gold', 'silver','bronze']][df[['gold', 'silver', 'bronze']] >=1].apply(numpy.mean)

gold      4.714286
silver    4.409091
bronze    4.125000
dtype: float64

### Example 2 : Medal Points

Imagine a point system in which each country is awarded 4 points for each gold medal, 2 points for each silver medal, and one point for each bronze medal.

Create a new dataframe.

In [61]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

score = numpy.array([4,2,1])

olympic_medal_counts = {'country_name':countries,
                        'gold': Series(gold),
                        'silver': Series(silver),
                        'bronze': Series(bronze)}    

df = DataFrame(olympic_medal_counts)

medal_counts = df[['gold', 'silver', 'bronze']]

# 여기서 Points는 Matrix의 곱으로 봐도 무방하다.
points = numpy.dot(medal_counts, [4,2,1])

olympic_points_df = DataFrame({'country_name' : countries, 'points' : points})
olympic_points_df

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1